@{
    ViewData["Title"] = "Day 2 - Hello World - ";
}



<div id="HelloWorld">
    <img src="images/smilling_woman.png" alt="Smilling Woman with a Laptop"><a href='https://br.freepik.com/fotos-vetores-gratis/mulher-atraente'></a></img>
    <h1>
        Hello World
    </h1><br>
</div>
