@{
    ViewData["Title"] = "Home - ";
}

<div class="text-center">
    <h1 class="display-4">21 Days of Code</h1>
    <h3>Daily Challenges made for 21 days </h2>
</div>

<h4>Select a day: </h4>
<div id="links">
    <a href="About"> Day 1 </a>
    <a href="HelloWorld"> Day 2 </a>
    <a href="AnimatedButton"> Day 3 </a>
    <a href="Calculator"> Day 4 </a>
</div>