@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">21 Days Of Code</h1>
    <p>Daily Challenges made for 21 days </p>
</div>

<a href="About"> Day 1 </a>
<a href="HelloWorld"> Day 2 </a>