@model _21_days_of_code.Models.CalculatorInputModel;

<form asp-controller="Calculator" asp-action="Calculate" method="post">
    <div class="text-center grid calculadora">
        <input id="expressao" type="text" disabled><br>
        <input type="button" value="7" onclick="preencherExpressao('7')" />
        <input type="button" value="8" onclick="preencherExpressao('8')" />
        <input type="button" value="9" onclick="preencherExpressao('9')" />
        <input type="button" value="x" onclick="preencherExpressao('*')" /><br>

        <input type="button" value="4" onclick="preencherExpressao('4')" />
        <input type="button" value="5" onclick="preencherExpressao('5')" />
        <input type="button" value="6" onclick="preencherExpressao('6')" />
        <input type="button" value="-" onclick="preencherExpressao('-')" /><br>

        <input type="button" value="1" onclick="preencherExpressao('1')" />
        <input type="button" value="2" onclick="preencherExpressao('2')" />
        <input type="button" value="3" onclick="preencherExpressao('3')" />
        <input type="button" value="+" onclick="preencherExpressao('+')" /><br>

        <input type="button" value="0" onclick="preencherExpressao('0')" />
        <input type="button" value="00" onclick="preencherExpressao('00')" />
        <input type="button" value="/" onclick="preencherExpressao('/')" />
        <input type="submit" value="=" />
    </div>
</form>

<script>
    function preencherExpressao(number) {
        document.getElementById("expressao").value += number;
    }

</script>