.calculadora > input[type="button"] {
    margin: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    font-size: larger;
    width: 5vh;
    height: 5vh;
    background-color: white;
}

input[type="submit"] {
    margin: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    font-size: larger;
    width: 5vh;
    height: 5vh;
    background-color: white;
}

input {
    size: auto;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(226, 185, 81);
    margin-top: 10vh;
    margin-bottom: 6vh;
}

.grid {
    background-color: blueviolet;
    border-radius: 5px;
    border: 10px solid black;
    width: 20%;
    height: 50vh;
    margin-left: 40%;
    margin-top: 100px;
    align-items: center;
}